[2013-09-18 09:50] marc-hanheide opened #19 "Calibrate Odometry: How?"
Is it possible to calibrate the odometry of the robot? We discovered a systemic error in the odometry (the robot is accumulating rotation even if it is not rotating). @gestom and @cdondrup know the details. It would improve mapping and localisation if this systemic error could be avoided.

[2013-09-18 12:45] cburbridge commented on #19
I have not seen this on Bob, does it happen all the time or just occasionally? At what rate does it change?

[2013-09-18 13:30] marc-hanheide commented on #19
I don't know the details, @gestom should.

[2013-09-18 14:43] gestom commented on #19
Hi,

let me describe our observation during Linda's autonomous runs. By odometry, I mean the numbers reported directly on Linda's status display located close to the main (key) switch.

Let Linda start on the charging station with her odometry reset, i.e. 0,0,0.
After the patrolling run, which basically consists of undocking, going through four waypoints and docking with the station (i.e. reaching

[2013-09-19 15:11] Jailander commented on #19
Hi,
To illustrate this a little more, you can see in these images how the "world rotates" every time Linda does a patrolling run is we don't reset the odometry before she starts it.

![2d_30-08-13-11-20](https://f.cloud.github.com/assets/5035967/1173787/7b30468e-213d-11e3-8d9f-9b665ec96115.png)
![2d_30-08-13-11-25](https://f.cloud.github.com/assets/5035967/1173788/7b3e2984-213d-11e3-9aef-f338ecf0f

[2013-09-24 07:47] chmartin21 commented on #19
The odometry calculation is realized within a FPGA in the robots base. The SCITOS robots don't have an option to calibrate the odometry. As on all mobile robots, a certain amount of such errors are "normal". Your localization software should be able to deal with this errors. Which localization are you using? Can you make the same test on all (affected) robots? Can you also tell us the serial numbe

[2013-09-24 07:51] marc-hanheide commented on #19
@chmartin21 just to be clear, it's not a big problem and our AMC localisation can well deal with it. Of course errors in odometry are normal and well expected. But as we discovered the error to be _systematic_ we thought there is probably an easy way to minimise the error.
This is all on Lincoln's robot (don't know the serial number as I'm not in the lab ATM).

[2013-09-24 08:00] gestom commented on #19
Hi,
I agree that it's not a major problem for us.
Still, eliminating this systematic error might increase the odometry precision tenfold. Since the odometry is calculated by a FIELD PROGRAMMABLE Gate Array, then it's actually possible to change it, right ?

[2013-09-24 08:01] chmartin21 commented on #19
Actually, all your robots should be equipped with an additional gyroscope, which helps to reduce especially the rotation error. Due to some problems with our suppliers, only the robots in Aachen and Stockholm are equipped with the gyroscope at the moment. We will deliver the gyroscope modules for the other robots as soon as possible. The modules are already here. I assume, that the will send to yo

[2013-09-24 08:14] marc-hanheide commented on #19
Ah! That's exciting news indeed! @gestom and @tduckett will love to hear that! Thanks.

[2013-09-30 15:58] marc-hanheide commented on #19
@chmartin21 I can confirm that at least LEEDS ( @agcohn ) and UOL ( @gestom @tduckett @Jailander @cdondrup ) have received the gyros. However, we don't know what to do with it. Can you provide assembly and setup instructions rather soon, as we have our STRANDS general assembly on Thursday and would like to discuss this there. Thanks!

[2013-09-30 17:18] chmartin21 commented on #19
The assembly of the gyro module is quiet easy. Together with the robot, you should have received a small torx wrench, which fits in the smalls screws at the electronic box. Please do the follwoing:
1.) Turn off the robot.
2.) Remove one of the aluminum cover plates in the upper part of the electronic box (next to the EBC module) using the torx wrench.
3.) Put the gyro module into the free slot.
4.

[2013-09-30 18:46] gestom commented on #19
While I hope that the gyro might suppress the odometry systematic error, it would be really nice to have a possibility for odometry calibration. As far as I understand the FPGA technology, it is still possible to modify the design.

[2013-09-30 18:47] cdondrup commented on #19
Might be a stupid question, but what is the "Wall Mounting Bracket" and the "Adapter Upper Robot Case" for if you only put the gyro into the electronics case?

[2013-10-01 09:52] chmartin21 commented on #19
@cdondrup : The additional parts have nothing to do with the gyro. As far as I know, for each robot some additional part where ordered. The flexible "Wall Mounting Bracket" can be used as an replacement for the fixed display mount of the robot. Furthermore, there was the requirement for mounting the PTU on top of robot without the head. I assume, that the "Adapter Upper Robot Case" is for that.

[2013-10-07 10:17] cdondrup commented on #19
@chmartin21 we just installed the gyro but non of the 3 LEDs is responding. I thought that at least the "run" LED should be active if it is running.

[2013-10-07 11:48] chmartin21 commented on #19
Before we shipped the gyro modules, all modules were tested. Please can you open cover of the slot right of the gyro module. Is there any LED visible or blinking on the module? Furthermore, please send us a photo which shows the assembled module in the robot, the serial number of the module and the serial number of you robot.

[2013-10-07 12:52] cdondrup commented on #19
We checked and there are no LEDs on the module. Just the three on the cover plate for "Run", "Conn", and "Active" and none of them is lit. See images for requested information:
![2013-10-07 13 45 29](https://f.cloud.github.com/assets/4293484/1280310/252fe40e-2f4f-11e3-9f5a-dcf28ee93112.jpg)
![2013-10-07 13 43 24](https://f.cloud.github.com/assets/4293484/1280311/2d6e75f4-2f4f-11e3-8326-7f28cd732a9

[2013-10-07 13:00] chmartin21 commented on #19
Strange. Somehow the module seems broken. I assume, that you already have tried another slot and the module is also not working there... Therefore, we have to check the module. Can you send it back to us?

[2013-10-07 13:05] cdondrup commented on #19
Yes we also tried the slot directly next to the EBC. No change in behaviour.
We will ship it back to you. Is Am Vogelherd 22 the right address?

[2013-10-07 13:06] chmartin21 commented on #19
Our full address is:
    MetraLabs GmbH
    Am Vogelherd 22
    D-98693 Ilmenau
    Germany

[2013-10-07 13:28] cdondrup commented on #19
Thanks.
It's in the mail and should be with you at the end of the week.

[2013-11-27 13:39] cdondrup commented on #19
@chmartin21 out new gyro arrived today. We will try it out on the weekend because we can't stop the robot during the marathon. We will keep you in the loop if it works this time.

[2013-12-02 14:07] cdondrup commented on #19
It seems the gyro is working now. The "Run" and "Conn" LEDs are lit.

[2014-10-06 08:38] cburbridge commented on #19
I'm going to close this issue as everyone now has the gyro add-on card installed, and systematic odometry error has not been mentioned since so it must be ok. If you fee otherwise, re-open.

[2014-10-06 15:47] cdondrup commented on #19
Actually we still have a systematic odometry error. It still drifts to the right.

[2015-02-21 15:20] marc-hanheide commented on #19
still? Will we do anything about it?

[2015-02-22 19:27] cdondrup commented on #19
@Jailander and @gestom should now if this is still an issue. But since there has been no activity, I guess it is.

[2015-03-06 15:02] ToMadoRe opened #69 "Magnetic sensor too insensitive"
After trying to get the magnetic strip detector working on Werner/Henry today at AAF, @Jailander and I finally came to the conclusion that the sensor is setup a bit too far away or it is too insensitive to magnets.

I dismounted the lower cover from the robot and checked the LED of the sensor. There is no light when I stick the magnetic strip on the ground and put the sensor above, but if I lift t

[2015-03-06 15:14] Jailander commented on #69
What @ToMadoRe said.

just pinging @marc-hanheide here ;)

[2015-03-07 22:51] marc-hanheide commented on #69
@chmartin21 @creuther can we make this some priority? Have you had this problem before?

[2015-03-08 13:12] cdondrup commented on #69
Can the sensor be lowered? Meaning manipulating the mounting to fix it closer to the ground?
Would just be a work-around but might be worth trying if possible.

Can you measure the distance it has to the ground? Maybe we can compare if there are differences and if not its a problem of the sensor itself.

[2015-03-08 14:24] marc-hanheide commented on #69
I'm going to Vienna on Tuesday and could take our sensor if needed? Not ideal, but it's more urgently needed at aaf.

[2015-03-08 20:31] ToMadoRe commented on #69
From above, it didn't seem you could lower the sensor easily but I didn't turn the robot to check from the bottom. The robot is at AAF at the moment and it would take me almost 1.5h going there again - if it's just measuring the distance, I would like not to. But maybe @denisehe can measure it somehow.

Let's see what Metralabs tells us to do.

[2015-03-09 09:21] marc-hanheide commented on #69
The sensor on Henry:

![download_20150309_091638](https://cloud.githubusercontent.com/assets/1153084/6552433/a1500ace-c63d-11e4-8a4f-6d2d9eb7a981.jpeg)

[2015-03-09 09:58] chmartin21 commented on #69
Unfortunately, the detection quality of the sensors also depends on the environment (e.g. the construction of the floor). You can try to lower the sensor. For that, to the following step:
1. first disconnect the sensor
2. untighten the screw nut below the robot
3. lower the sensor by rotating (but not more than the second screw thread!)
4. fix the screw nut below the robot
5. re-connect the sensor

[2015-03-26 14:39] ToMadoRe commented on #69
Ok, thanks. It works now but I had to lower it quite a lot.

[2015-03-26 14:39] #69 closed

[2015-03-26 14:53] ToMadoRe opened #70 "Power supply for external PCs broken"
Has anyone else ever had problems with the power supply (g4m11 M3-ATX) of the external PC? One of ours doesn't supply power to the main PCs anymore. (I checked the input voltage to the power supply, which is fine. Plugging in the second power supply to the same PC works.)

As the robot was running for some weeks now, I was just wondering if the power supply is okay for such long-term performance.

[2015-03-26 15:22] cburbridge commented on #70
Yes we had the same issue. I returned it and got a replacement very fast for free (CarTFT.com). I think the issue is that it is designed for up to 24V but the voltage supplied is not regulated and peaks much higher, shortening the life of it. I noticed that there is a model that accepts higher input voltages, might be worth getting that instead.

If you don't want to return it, try replacing the s

[2015-03-26 15:39] ToMadoRe commented on #70
Okay, then this is a problem. I have to check with @mzillich where we ordered ours.

Do you mean this one: http://www.mini-box.com/M3-ATX-HV-DC-DC-ATX-Automotive-Computer-car-PC-Power-Supply ? The voltage input is 6-34V, but the power output is less.

[2015-03-26 18:35] marc-hanheide commented on #70
That explains, why I couldn't run it one Werner anymore...
But that said, I can confirm that both side PCs have been off for quite a while, so they were not constantly running.
Anyway, we need this fixed ASAP (pre-deployment!). If you can't get a replacement in time, please let me know. Then we'll have to take Linda's when we come down to Vienna after Easter.

[2015-03-30 09:15] marc-hanheide commented on #70
Sugested by @cburbridge: http://www.cartft.com/catalog/il/806

Please @mzillich and others should look at this and say if it's suitable.

[2015-03-30 09:15] cburbridge commented on #70
Would this http://www.cartft.com/catalog/il/806 work instead, providing a
wider input range?

On 26 March 2015 at 18:35, Marc Hanheide <notifications@github.com> wrote:

[2015-03-30 20:35] mzillich commented on #70
Power-wise this looks good. @ToMadoRe can you check if the plugs are ok for our motherboard?

[2015-03-30 21:42] marc-hanheide commented on #70
OK, can you please make sure we get Henry up and running for the pre-deployment and keep me posted on any expected delays?

Thanks

[2015-03-31 08:23] ToMadoRe commented on #70
The plug looks okay but the dimension (160x45mm) is much bigger than from the old one. Any ideas how to mount that on the robot?
They also sell these PC-casings (http://www.cartft.com/catalog/gl/55), which would fit the power supply + mainboard + have an additional mount for fan(s). I am afraid though that it won't fit our PCs with the graphics card installed. Can someone help me here please?

[2015-03-31 08:58] mzillich commented on #70
Did not look at the dimensions in detail, but I am rather sure the graphics card won't fit.
Let's keep the mounting, this was ok. ANd the larger power boards we will fit somehow.

[2015-03-31 09:00] ToMadoRe commented on #70
I just talked to the distributor and they suggest using the more powerful power supply

M4-ATX
http://www.cartft.com/catalog/il/903

casing
http://www.cartft.com/catalog/il/1066

Any comments on that? It seems definitely more reliable as it has a wider input voltage range + a fan for cooling. I am just worried that the casing won't fit on the robot. Unfortunately, the robot is at AAF so I can't ch

[2015-03-31 09:20] mzillich commented on #70
yup, 250 W should do it. price is also ok, let's take that.
lets take the casing and try, 13 EUR only

[2015-03-31 13:19] ToMadoRe commented on #70
okay, I have ordered one unit for testing. Let's see if it works.

[2015-04-10 09:49] ToMadoRe commented on #70
We installed the new power supply and I highly recommend replacing the old one with this one for these reasons:
(1) wider input voltage range (max. 30V instead of 24V),
(2) it provides much more power (250W instead of 125W), and
(3) it comes with a fan for cooling and a case that can be easily mounted on the robot

[2015-04-10 10:44] nilsbore commented on #70
So we should all buy two of the power supply listed above (M4-ATX 6-30V DC/DC (250 Watt)) + two of the case listed above (SFX / ATX Enclosure f. M4-ATX)? That is, we have to order the case separately?

[2015-04-10 10:52] cdondrup commented on #70
http://en.wiktionary.org/wiki/never_change_a_running_system

[2015-04-10 11:57] ToMadoRe commented on #70
@nilsbore: yes, you would have to order power supply and case seperately. Also note that you need something to connect the two wires from the fan to the connectors on the power supply. Apart from that it is very easy to mount.

@cdondrup: Well, there have been two broken supplies already even though we haven't really used the graphics card yet. Of course, you can leave it for now; but I think soon

[2015-07-17 14:47] Jailander opened #71 "Upgrading RAM on Central PC"
Hi we upgraded Linda's RAM to 8GB this week and its working quite well, we think all robots would benefit a lot from doing this, sadly we didn't document the process thoroughly, but I'm posting a picture of the reference for the memories we used, and the one we removed from Linda:

![20150717_154134](https://cloud.githubusercontent.com/assets/5035967/8749649/dc84c7e2-2c9a-11e5-8e28-1b77a5211bd4.jp

[2015-07-20 14:32] cdondrup commented on #71
Just as a short descriptions:
1. Unplug all the cables from the PC and remember where they go, some fit in several slots.
2. Unscrew the screws fixing the PC to the frame
3. Loosen the screws holding the box above the PC with the external cards like the EBC control and gyro in it.
4. Lift the box on top of the PC slightly
5. Pull PC out to the front, lifting it above the cables sticking out of the

[2015-07-20 15:26] Jailander commented on #71
nope, you didn't miss one word, thank you :+1:

[2015-08-10 14:43] cburbridge commented on #71
Thanks @cdondrup/@jailander  these are great instructions and now Bob has 8Gb too :-)
Just a small warning for anyone left to do this: the wires coming out of the back are quite easily broken when sliding the PC back in, especially the emergency sensors wire. When I put the PC back in I got that cable trapped behind it and ripped off the black plug...oops.

[2016-03-17 17:06] gestom opened #72 "Charging slow on Werner"
Hi,

since yesterday, Werner's charging rate is very low. The charging current is typically below 2A and is fluctuating wildly. The 'charger_status' field internal_error_flag is  True and 'const_current_mode' is fluctuating between True and False. Battery level was about 77% when I checked.
We recorded the 'battery_status' for a few hours - the rosbag is available here: https://lcas.lincoln.ac.uk/

[2016-03-17 18:32] marc-hanheide commented on #72
@creuther as our valuable MetraLabs contact, could you forward this to the relevant people, please?

[2016-03-17 19:34] creuther commented on #72
@marc-hanheide Of course, thanks for notifying me. Without knowing any details, I think the charger would need repair or even replacement so can you give me a c/o address so we can expedite the whole process a bit and get a new charger sent out? At least that is what I suspect will happen, I can only confirm it tomorrow morning though.

[2016-03-17 20:10] marc-hanheide commented on #72
Thanks for coming back to us so quickly. If there's any diagnosis we can do, please let us know.

[2016-03-18 02:35] gestom commented on #72
Maybe that the reason for slow charging is caused by the additionally installed PCs inside of the robot, which might cause the robot to overheat. We have never observed the charging slowdown with a robot that had it's skirt off. To test it, I let the other robot (LINDA) patrol 'naked' to deplete its batteries to 20%, put the robot skirt on, started the deployment systems, placed a digital thermome

[2016-03-18 07:41] marc-hanheide commented on #72
Wow, thanks, guys. This is on Linda, so the question is if the effect is the same on Werner. How did you measure the temperature? Have we got any idea what the temperature profile is on Werner?
Also, have we got a chance to measure the temperature in the battery cells themselves? It would now be interesting to see if we start charging without skirt and at 19℃ and obtain a very different profile...

[2016-03-18 08:35] creuther commented on #72
Great analysis, thanks for that! I have created a service ticket and have some diagnostics instructions for you.

First of all, we suggest flashing the latest firmware of the charger as it does improve the stability of the charging "arc", but obviously it won't solve the temperature dependency if that turns out to be the cause. We don't have the best track record with firmwares and usually believe

[2016-03-18 09:41] creuther commented on #72
Just in case, here is the file sent to the STRANDS mailing list.
[scitos_firmware_upgrade_17032016.tar.gz](https://github.com/strands-project/scitos_robot/files/179375/scitos_firmware_upgrade_17032016.tar.gz)

[2016-03-18 11:17] gestom commented on #72
How did you measure the temperature?
Using the Temper1F sensor, see the metallic piece in front of the router.

Have we got any idea what the temperature profile is on Werner?
No. But hospitals might have some (contact less) thermometers and people who can use them. I am not sure it these work on robot skin as well.

Also, have we got a chance to measure the temperature in the battery cells themse

[2016-03-22 17:32] gestom commented on #72
I am about to try the firmware upgrade. However, how do I backup the previous firmware ?

[2016-03-22 18:11] marc-hanheide commented on #72
I recall haven't read somewhere "you can't", but I can't find it...

[2016-03-22 18:28] gestom commented on #72
so we might end up with a broken system ?

[2016-03-22 18:29] gestom commented on #72
I will do some outstanding experiments before then :)

[2016-03-26 00:49] gestom commented on #72
OK, I did the firmware and run the robot around with and without the cover. Navigation was working fine and the charging current fluctuations were reduced. The average charging current was slightly higher than before the update, but one could still see that with the cover on, the charging took much longer time.

[2016-03-26 11:54] marc-hanheide commented on #72
So, would you then recommend we update Henry? We have an easter break at the moment anyway...

[2016-03-27 14:10] gestom commented on #72
Actually, I would not recommend it. Although the charging current is not fluctuating after the update, its average value did not change much and the overheating problem persists. Rather than updating firmware, I recommend upgrading hardware and cut some additional venting hole(s) in the robot shell. I am currently running another batch of tests with the lower skirt removed. This might give us a hi

[2016-03-28 01:55] gestom commented on #72
So, removal of the lower skirt also helps, so IMHO we might start trying to drill a venting venting hole in the rear part of the robot 'lower' skirt. The question is if Metralabs can provide us with a few replacement plastic parts of the robot's shell and for how much ?

[2016-03-29 06:48] creuther commented on #72
I can find out for you, what exactly do you need? Which parts? How many of them? In the same colour as Werner or just some generic colour?

Besides, what I find a bit odd is that the problem arose so suddenly. I can see from your measurements that there is some correlation with temperature, but before it was charging fine despite the exact same situation (shell on) right? If so, then I wouldn't ru

[2016-03-29 07:14] gestom commented on #72
Maybe the problems are not observed that much because when not used in deployments, the robots were running half-naked.  Moreover, I think that we observed the overheating problems last year as well, but this time it might be more severe. I have plenty of rosbags from the experiments, cannot they substitute the  MIRA tape ? The topic is the same.

[2016-03-29 17:17] gestom commented on #72
miracenter -k 127.0.0.1:1234 reports that it
'could not connect to the framework'

[2016-03-30 06:51] creuther commented on #72
I had a look at the scitos_mira node, apparently the MIRA framework there doesn't start with a port open for incoming connections unless you specify the `server_port`variable. But either way, you can also run a separate MIRA instance when the scitos_mira node is **not** running (as only one connection to the CAN bus is allowed).

`miracenter SCITOSConfigs:etc/SCITOS-mapping.xml --variables robot=S

[2016-03-30 16:34] gestom commented on #72
OK, the tape recorded by @Jailander is at labe.felk.cvut.cz/~tkrajnik/miratapebattery.tape. The persistent errors of the charger are  at labe.felk.cvut.cz/~tkrajnik/persistent.errors. We will probably need one 'bottom' skirt and one 'back-middle' skirt with Linda-blue color.

[2016-04-01 13:01] creuther commented on #72
Thanks, we are analyzing the tape and error files and will get back to you. As for the case parts / skirts, I talked to my boss about it.
Unfortunately we can only sell the large middle parts as a whole / together as they are commissioned in that way. So the two middle parts and the bottom part including paintwork would cost 750€ net altogether.  Let me know whether you want a formal quote or how

[2016-04-06 09:49] marc-hanheide commented on #72
OK, as this tape was on Linda, we shall create one from Werner as well.

[2016-04-06 16:49] cdondrup commented on #72
I recorded a bit of data:
https://lcas.lincoln.ac.uk/owncloud/index.php/s/VwGbXIiOWIBqhk0

This contains 4 files:
- persistenterrors.txt which is the persistent error log
- a rosbag file which contains recordings of the charging topic while the robot docks and undocks
- `charger.tape` a mira tape of the robot being on the charger
- `drop.tape` a mira tape that hopefully shows the drop in current w

[2016-04-06 18:35] marc-hanheide commented on #72
Here is the plot of the rosbag @cdondrup created:
![image](https://cloud.githubusercontent.com/assets/1153084/14327605/54d6c5b6-fc33-11e5-9744-239719c9dd82.png)

Sorry, about the x axes... it's samples, so roughly it's second \* 10.

I plotted the current (as before), and we see a similar behaviour. indeed we went through a number of docking and undocking cycles, where we always observed pretty mu

[2016-04-06 18:36] marc-hanheide commented on #72
So, @creuther is this helpful? @gestom, I think this all confirms what we were suspecting, right?

[2016-04-06 18:36] marc-hanheide commented on #72
One last note... the voltage profile is a little surprising to me, which is why I also included it, maybe it help diagnosis.

[2016-04-07 13:01] creuther commented on #72
@marc-hanheide @TobKoer We sent you a new charger today, I'll provide you with instructions on how to change it soon.

The additional information you provided is quite interesting as well, I forwarded it to our hardware guys. I'll keep you posted!

[2016-04-07 13:05] marc-hanheide commented on #72
I forgot to add, that this was all measured when the robot was about 50% charged, so to make sure we don't end up in the kind of tickle charge when it is nearly full...

[2016-04-07 13:07] cdondrup commented on #72
"tickle charge" hihi XD

[2016-04-07 14:42] marc-hanheide commented on #72
@cdondrup also happy to amuse you.

@creuther are you then confident that the profiles shown result from a faulty charging unit? In other words, shall we be optimistic that a new charger will resolve the situation? Or should we consider further alternatives?

[2016-04-07 16:34] creuther commented on #72
@marc-hanheide Somewhat confident but I agree that the behaviour observed is kind of odd. Waiting for an expert analysis of the data but from what I see, the robot experienced cell undervoltage quite a few times. It does not look like any of the battery cells dropped below the critical threshold of 2.0V (after which they are considered permanently damaged by the manufacturer of the cells), so they

[2016-04-11 10:48] marc-hanheide commented on #72
@creuther the charger has arrive, but we now urgently need the instructions on how to fit it.

[2016-04-11 14:39] Jailander opened #73 "Replacing Battery in Linda?"
One of the battery cells in Linda is apparently damaged according to analysis ran by metralabs over this [mira tape](labe.felk.cvut.cz/~tkrajnik/miratapebattery.tape). @creuther what is the recommended course of actions here?

[2016-04-11 15:41] creuther commented on #73
Unfortunately, the battery cell manufacturer specifically states that the battery cells have to be considered damaged if they drop below 2V. As this happened a couple of times, it is certainly safe to say that the battery needs to be replaced. I'll get you a quote for it.

Any heat issues that you may have with Linda might be exacerbated by the defective battery cell(s) as well, as they can produc

[2016-04-12 10:38] marc-hanheide commented on #72
So, new charger, old story: When initially starting the charge it started with about 5-6A charging, not the 8A we saw previously, but that was a "bug" anyway, as the charger should be limited to a total of 10A according to @creuther.

Then,  we saw it slowly drop as temperature likely got up. After this initial drop, I recorded the whole profile overnight:
![bat](https://cloud.githubusercontent.co

[2016-04-12 10:56] marc-hanheide commented on #72
So, we can also deduce that we loose about 10% per hour, and we gain (without logging, with it we seem to gain nothing!) max 5% per hour on charging.

[2016-04-12 11:24] Jailander commented on #73
Yes we thought so... thank you for getting us the quotation.

About the heat issues we have been having them for a while now, I'm sure we can run a comparison on the inside temperature whilst charging before and after we change the batteries if that is useful for you.

[2016-04-12 11:26] marc-hanheide commented on #72
Given our experience with both Werner and Linda I strongly advise the TSC deployment people to look at and consider this. We have seen little autonomous behaviour at aaf due to power problems. I suggest you do some tests with your robot under full load early to assess the charging profiles. @hawesie (at whoever is in charge)

[2016-04-12 11:32] hawesie commented on #72
Oh poop, this is the first I've seen on this. @bfalacerda and you work with @creuther to see what happens with Betty? Would it help if we try to fit a cooling fan into the skirt somehow?

[2016-04-12 11:36] Jailander commented on #72
@hawesie we are currently fitting a fan in Linda's lower skirt will send you a pic as soon as we get the part back.

[2016-04-12 11:42] Jailander commented on #72
Also maybe its worth taking a look at [Marc's Awesome launch action server](https://github.com/strands-project/strands_apps/tree/indigo-devel/roslaunch_axserver) to launch and stop components that are not necessary whilst charging.

[2016-04-12 11:47] marc-hanheide commented on #72
The Problem is that the biggest drainer is logging for us. If we stop that any time we offer services at the charging station we have quite patchy data, but it seems we have to do that.

[2016-04-12 11:48] agcohn commented on #72
and/or cooling holes drilled in skirt?

Tony

##

Prof A G Cohn, FREng, CEng, CITP, FAAAI, FECCAI, FAISB, FIET, FBCS
School of Computing
University of Leeds
Leeds LS2 9JT
0113 3435482     www.comp.leeds.ac.uk/agc

[2016-04-12 11:51] marc-hanheide commented on #72
Yes, these options are all under consideration and being assessed. But we'd live advice from @creuther and metralabs.

[2016-04-12 12:43] bfalacerda commented on #72
yeah, I've been kind of following what's going on. @cburbridge 's suggestion before leaving was to add a fan like this:

![img_2530](https://cloud.githubusercontent.com/assets/4320588/14460266/8877a4b4-00b4-11e6-83b3-7240777fd4a4.JPG)

We'll do it next week when  @maximeadjigble is back. I also think it might be a good idea to avoid using the second pc if possible, according to @creuther they are

[2016-04-12 12:45] marc-hanheide commented on #72
We considered taking the second one out, but the effects has been deemed minimal aus they use very little power when not under load (we have seen). Modern PCs are pretty good at power management, so having them there when they are not computing is almost as not having them, And hence, two PCs at 30% load end up as pretty much the same as one under 60% load. We have seen this also, when we don;t ru

[2016-04-12 12:47] marc-hanheide commented on #72
The fan at that position is unlikely to cool the charger (which sits in the lower skirt above the wheel) effectively.

[2016-04-12 12:49] marc-hanheide commented on #72
We may want to also add another heat sink to the charger, but again, best to hear advice from @creuther.

[2016-04-12 12:51] Jailander commented on #72
Also I'm not sure you'll get much cooling from putting the fan there, unless, you have an escape on top of that skirt you will end up moving hot air only (which I admit still cools down but not as much), and not exchanging air with the outside of the robot.

[2016-04-12 12:52] cdondrup commented on #72
I started the logging at around 8  while still on the charging station. So I guess you're right, that is what we see in the plot.

[2016-04-12 12:52] bfalacerda commented on #72
The idea was to make the air flow up, there are some wholes when the skirt is on, and also on the neck and stuff

[2016-04-12 12:53] marc-hanheide commented on #72
But @bfalacerda the charger is below the plate, so there won't be any circulation there.

[2016-04-12 12:53] bfalacerda commented on #72
yeah, I see that. Just to confirm, these problems also happen with the skirt off?

[2016-04-12 12:53] Jailander commented on #72
yes that is why we are drilling the hole on the lower skirt will go in a bit to get you a picture

[2016-04-12 12:54] cdondrup commented on #72
The problems do not seem to happen with the skirt off, no.

[2016-04-12 12:56] cdondrup commented on #72
OK, just to add to that. There still is an effect due to heat but the effect is smaller with the skirt off. So the charging is still reduce but not as much.

[2016-04-12 12:56] marc-hanheide commented on #72
Position of the charger:
![image](https://cloud.githubusercontent.com/assets/1153084/14460615/bde8a60c-00be-11e6-932c-99ed86053d28.png)

[2016-04-12 12:57] marc-hanheide commented on #72
So, I guess if we improve the conduction of heat to the plate where the charger is mounted and then cool the air above it, it might have a good effect... Anyone every tried if the plate above the charger is warm/hot to the touch?

[2016-04-12 12:58] bfalacerda commented on #72
ok, so if we manage to reduce the temperature inside the pc area when the skirt is on, we might not need to go to the bottom part? Anyway, if you guys find a solution this week we'll follow suit

[2016-04-12 12:58] marc-hanheide commented on #72
It probably doesn't help that the GPU of the side PC is blowing its hot air right at the place where the charger sits...

[2016-04-12 12:59] cdondrup commented on #72
Not using the GPU for anything currently. Can't be that hot...

[2016-04-12 12:59] marc-hanheide commented on #72
Then, it might even have a cooling effect???

[2016-04-12 13:00] marc-hanheide commented on #72
Anyway, can you guys check with Linda if the charger actually gets hot?

[2016-04-12 13:00] Jailander commented on #72
Yes the plate gets hot, with and without the skirt I imagine the effect is reduced when the upper skirt is off because of the improved heat transfer. but the plate is always moderately warm

[2016-04-12 13:01] Jailander commented on #72
I'll check in a second, we need a thermal camera ;)

[2016-04-12 13:04] Jailander commented on #72
Ok Linda has a full battery right now so the charger is cold, I'll let her discharge for an hour and plug her and see after a while, however since the lower skirt is not here it won't be as warm as in other cases.

[2016-04-12 13:07] marc-hanheide commented on #72
We have a thermal camera, ask Greg.

[2016-04-12 13:09] Jailander commented on #72
haha I know, just realised we could have used it before I made the comment, but right now it doesn't make sense since we don't have the skirt. But I'll ask Greg for it when we have the part back.

[2016-04-12 13:13] creuther commented on #72
I have been doing some asking around and had a look at Bob but it seems while I was doing this there were quite a few new posts. Anyway, I'll just continue with what I started typing before ;)

@marc-hanheide Unfortunately the life-percentage is not really that reliable, so it would be more helpful to see voltage plotted against current. What kind of services were running during the night, and wha

[2016-04-12 13:19] Jailander commented on #72
@creuther in one of those charts @gestom made when we recorded the tape you could tell that the problem also happens with the skirt off just in a much lower scale, however, this could be happening on Linda because of the defective cell. Anyway solving the heat build up issue seems to improve charging.

[2016-04-12 13:20] marc-hanheide commented on #72
Thanks @creuther, so given all this, have your MetraLabs guys any advice how to best get rid of the heat build up? What did you do in Hobbit?
Taking the skirt off is no option. I agree that what we see now is mostly consistent, and when it was cool, we saw indeed that `10 A - current_drawn = current_charge`.

So, the charger is functioning as it should, the firmware apparently isn't? Can we set th

[2016-04-12 13:33] creuther commented on #72
@marc-hanheide I'm waiting for their response on it. The firmware bug is only a "display" issue, the charger isn't necessarily going into derating mode but when it is on the charging, the derating flag is being shown as set regardless of the internal state.

Apparently it is possible to see the actual power draw of the charger when on the charging station, but this data is not yet exposed in the c

[2016-04-12 14:28] bfalacerda commented on #72
can someone point me to the scripts to do the nice plots, so we leave betty charging tonight?

[2016-04-12 14:37] marc-hanheide commented on #72
I don't have a script. I used
1. `rosrun topic_tools throle messages /battery_state 1 /battery_state_throttled` to limit the data recorded to once per second
2. `rostopic echo -p /battery_state_throttled  > batt.csv` used to record this into a CSV file directly
3. downloaded this file to my laptop
4. `grep -v "%" batt.csv | tr "," "\t" > batt.dat` to convert it into something gnuplot understands
5

[2016-04-12 15:18] creuther commented on #72
So I tested the PDO stuff on Bob and it seems to work, even though it not that user-friendly. You have to get exclusive access to the CAN bus (i.e. every other MIRA instance accessing the CAN bus has to be killed) and then opening miracenter e.g. like this: `miracenter SCITOSConfigs:etc/SCITOS-mapping.xml --variables robot=SCITOS-A5,canType=MLCAN`

Then open the "CAN Tools View" by going  "Window

[2016-04-12 15:22] creuther commented on #73
If it is not too much of an effort then it would certainly help to exclude / identify that as one influencing factor. I am waiting to hear back from my boss and will let you know once I got the quote.

[2016-04-13 11:18] bfalacerda commented on #72
So we got betty to use ~8A by loading all her processors, and then put her to charge with everything closed. Looks good I think:
![drawing](https://cloud.githubusercontent.com/assets/4320588/14491611/d1c7260e-0171-11e6-8efd-a83d0a4cdf37.png)

[2016-04-13 11:20] bfalacerda commented on #72
Just to clarify,battery starts dropping once @ferdianjovan started doing stuff with her

[2016-04-13 11:35] marc-hanheide commented on #72
Wow, this looks nice... So, @creuther what is the difference between this newer robot (betty is the new one!) and the older versions? @bfalacerda can you do the same with bob, just to see if there is a difference?

[2016-04-13 11:50] bfalacerda commented on #72
Bob has a broken charger thingy, so he only charges at 5A tops (we're getting a new one). I left him charging with a cable (we only have 1 charging station in Bham), and with skirt off, and this is what it looks like. It's less stable, but it also looks good I think. I'll try the same with the skirt on, but atm if we use more than 5A he'll be losing battery even when plugged in. That makes it hard

[2016-04-15 08:53] creuther commented on #73
I finally got a quote. So my bosses tell me that a new battery is 950 Euro (net), not including shipping. As lithium batteries are unfortunately classified as dangerous goods (and also they are heavy), the shipping is usually not too cheap either.
So knowing that, please let me know what you want to do. If you want to get the replacement battery then I can have a formal quote sent to you and we ca

[2016-04-15 09:03] cdondrup commented on #73
Since @marc-hanheide is sitting on our pot of gold, it would be up to him to decide. In general we seem to get a decent battery life out of Linda but it might be useful for future long-term tests. As we have seen on Werner it will most likely not fix the heat problem though...

@creuther how crucial is it from a technical point of view to replace the battery? Is there any danger in running the rob

[2016-04-15 09:07] marc-hanheide commented on #73
Exactly, I need to understand better what we would gain. Is there a real problem here, or is it just we would see getting 30 minutes more of runtime out of it? Also, I understood one cell was broken? So, is this for the exchange of all cell or just one?
Then, finally, it will be easier for us to buy this replacement while STRANDS is still running, so if we believe we'll need a new battery, then we

[2016-04-15 09:07] marc-hanheide commented on #73
Also @tduckett should have a look at this.

[2016-04-15 09:10] creuther commented on #72
@marc-hanheide Especially with a new charger, there should be no significant difference between the robots. As mentioned before, can you run another one of these plots with voltage instead of lifetime? Especially after changing the charger but also in general, the lifetime is (unfortunately) not the most reliable metric.
In your last plot it _could_ in theory be that the robot reached full charge

[2016-04-15 09:17] cdondrup commented on #73
I just remembered something, @creuther where does the broken cell diagnosis come from? If it is from the persistent error logs, it might be that it shows the broken pin we had in the battery connector at some point. The voltages themselves do look quite balanced:

[code]

So if it is from the persistent error log we might have "fixed" that already.

[2016-04-15 09:22] Jailander commented on #73
@cdondrup I think that diagnosis came from the tape I recorded a couple of weeks ago. The broken pin was fixed by then.

To contribute in the discussion, currently we get a pretty decent Battery life in Linda (~4.5 hours with everything running) I wouldn't spend >1000€ on a new Battery. Unless I'm wrong (please correct me if so @creuther ) having a broken cell can only damage the battery further (

[2016-04-15 09:47] creuther commented on #73
@marc-hanheide There might be a real problem, as the battery cell manufacturer does not guarantee defined operation of the cells once they've been depleted below 2V (apparently even once) by letting the robot discharge fully without turning it off. The persistent error file stored by the charger showed that this happened a few times on Linda, with cell 1 always being the most depleted one (one tim

[2016-05-03 10:18] bfalacerda opened #74 "slow cameras on betty"
Our setup in betty is the head cam on the right pc, and the chest cam on the main one. I'm having issues with the cam topics frequency which might be problematic.

The chest works at normal rate (30) for depth, but it's intermittent for rgb. Note that for this one there's no network issues as all is in the main pc:

[code]

[code]

The head seems to have some issues due to the network not being fa

[2016-05-03 10:22] RaresAmbrus commented on #74
Is your camera plugged into a USB2 or USB3 port? Maybe try switching things around, that always helps (eventually) with openni. Btw. if the framerate drops for the depth on the head cam you might have an issue with the sweeps ....

[2016-05-05 14:06] bfalacerda commented on #74
chest seems to be fineafter changing port. we still havent figured out why the network is slow and we're not getting the full head cam rate. @RaresAmbrus you think these values I posted above are problematic?

[2016-05-09 09:26] RaresAmbrus commented on #74
@bfalacerda ~20 Hz for the head camera should be fine.

[2016-06-27 17:31] gestom commented on #72
Hi, since Betty had some problems with her charger at TSC, we left Linda's charger there and took Betty's to Lincoln. With Linda, the charging is working quite OK, but we still had the overheating problem. When charging, Linda's charging current initially started about 6A, but it dropped quickly to 3A, which makes charging rather slow. We went for a hardware solution with a 92 mm fan, see
![fan](h

[2016-06-27 17:35] marc-hanheide commented on #72
<3

[2016-07-06 08:18] cdondrup commented on #72
Why is this assigned to me? Maybe you meant @creuther ?!

[2016-07-06 10:21] marc-hanheide commented on #72
I assume so, yes.

[2016-09-27 15:35] gestom opened #75 "Occational odometry glitch"
When going through the data from Y3 deployment, we found an issue that seems to originate from the odometric subsystem. According to the logs from Y3 deployment at AAF, there were 6 events when the robot got lost due to a probable bug in the odometric module of the robot. All of these happened in the same area:

At AAF, there is a double wing door with a steel frame, which is on the floor. You can

[2016-09-27 20:39] hawesie commented on #72
@gestom @marc-hanheide do you have instructions somewhere on how to do this or a description of what you did? I'd like to get Betty equipped with a fan before she goes back to TSC.

[2016-09-27 20:43] gestom commented on #72
we (our technician) cut a circular vent in the bottom skirt (see the pic) and installed a 92mm 12V PC fan, which we connected to one of the side PCs

[2016-10-06 15:00] marc-hanheide commented on #72
@kirumang this is what needs to be done for henry!

[2016-10-21 08:32] gestom opened #76 "FTDI disconnecting"
Lately, LINDA suffers from quite serious HW problems that are probably related to the serial connection between the PC, CAN bus and the laser scanner. Basically, we get this kernel message:

[33075.354321] usb 2-1.8: USB disconnect, device number 6
[33075.354696] ftdi_sio ttyUSB0: FTDI USB Serial Device converter now disconnected from ttyUSB0
[33075.354725] ftdi_sio 2-1.8:1.0: device disconnected

[2016-10-26 07:19] creuther commented on #76
I'll make some inquiries whether we've seen anything like this before, and failing that whether there are any diagnostics you can run to help us identify the issue.

[2016-10-26 08:42] creuther commented on #76
There isn't a lot of room for diagnostics with this specific problem unfortunately, it could / should be a problem on the connection between the mainboard and the MCU addon - could be a hardware fault (defective contact), electrical interference, etc.

Our suggestion is us sending you a new cable for this connection. @gestom can you let me know the address and c/o of where and whom to send it to?

[2016-10-26 09:59] gestom commented on #76
Thanks, please send the cable to:

Tomas Krajnik,
Lincoln Centre for Autonomous Systems,
University of Lincoln, Brayford Pool, Lincoln, LN6 7TS
United Kingdom

[2016-10-26 13:20] creuther commented on #76
The cable is being sent by [DHL tracked & signed](https://nolp.dhl.de/nextt-online-public/set_identcodes.do?idc=RL742528265DE&extendedSearch=true&lang=en). It might take a bit for the tracking link to become active. Please let me know when you receive it and whether you need help installing it.

[2016-11-04 10:46] Jailander commented on #76
@creuther can you confirm which the cable we ought to change, we only see this candidate but the cable looks different
![ftdi](https://cloud.githubusercontent.com/assets/5035967/20003036/ec33d5b8-a27b-11e6-8614-00c5adcbc3d8.png)

[2016-11-04 10:52] creuther commented on #76
I've asked Rüdiger and will let you know asap, as unfortunately I don't know either....

[2016-11-04 14:41] Jailander commented on #76
Hi, @creuther this morning Linda was not detecting the usbs after restart, so we replaced the cable for the one you sent us, but still nothing the pc is unable to see those usb devices.
What do you think we should do now?

[2016-11-04 15:58] creuther commented on #76
If you can't get USB devices to work under any circumstances, then we unfortunately do have to consider a fault with the PC or related components.
As unpleasant as it is, I think the best course of action would be to send us the part of the electronics boards that include the PC and MCU. You need to carefully remove the cables and then loosen the screws at the sides and then you should be able to

[2016-11-04 16:21] Jailander commented on #76
Thank you christian, yes she is getting old :( I'll check with @marc-hanheide and will probably send it tomorrow thank you.

[2016-11-10 12:24] gestom commented on #72
@kirumang I checked the logs from the last two days and Werner is charging only by 2 Amps. There are two differences to our robot: 1) the fan is 80mm instead of 92 2) the firmware was not probably updated. I will get a silent 92mm fan and update the firmware now. It seems that I will need to come here next week as well.

[2016-11-10 12:55] marc-hanheide commented on #72
Boooh... Not again or still...

[2016-11-14 09:54] creuther commented on #73
@marc-hanheide @Jailander How has Linda been getting on? Is there still the wish or need to replace the battery?

[2016-11-14 15:50] marc-hanheide commented on #73
yes, we indeed plan to have the battery replaced, and we also sent some parts to MetraLabs.

[2016-11-15 07:18] creuther commented on #73
Ok, shall I initiate the process on the MetraLabs end and get you a quotation, and maybe already get a battery ready (depending on how you would want to proceed)?

[2016-11-15 15:59] marc-hanheide commented on #73
@Jailander can you comment? I know you took some steps already to potentially "freshen-up" Linda. @creuther can you get me a quote?

[2016-11-15 16:04] Jailander commented on #73
Hi yes a quote wouldn't be bad, when we said about rejuvenating Linda we had a new battery and themain PC in mind but since https://github.com/strands-project/scitos_robot/issues/76 not sure if we need a new pc anyway

[2016-11-17 08:17] creuther commented on #73
@marc-hanheide Getting the quote for you and will send you it by email. I'll try to get an update on #76 as well.

[2016-11-26 11:47] #74 closed

[2017-01-02 21:48] #19 closed

[2017-01-06 13:42] Jailander commented on #76
Hi we just installed the replacement components in Linda, we think we connected all the cables correctly, but we still get this problem:

[code]

I checked `/dev/tty` but I see no USB devices:

[code]

and I don't see any CAN device on `lsusb`:
[code]

Do you have any idea what connection we should check?

[2017-01-06 16:15] creuther commented on #76
Hi Jaime, I got some feedback from Rüdiger for you to try:

Did this happen straight after assembly or was it working for a bit, however short? Can you check the MainControlUnit (MCU) for loose components / elements? Can you unplug all the cables and re-plug them, and maybe also try the second USB pin header on the motherboard?

If that doesn't help, can you sequentially unplug all  USB devices an

[2017-01-09 11:45] Jailander commented on #76
Hi Christian,

Thank you very much for your help unfortunately we did not manage to get it working (it never did), we removed the board and reconnected all the connectors making sure they were tight enough, we also changed the USB connector to the second USB pin header on the motherboard, and nothing worked we can see all other usb devices but the converter :/

What can we do about this? do you ha

[2017-01-09 11:48] Jailander commented on #76
We can have a skype meeting to check the connections with someone from Metralabs too, just to make sure

[2017-01-10 10:32] Jailander commented on #76
@creuther :)

[2017-01-10 12:16] creuther commented on #76
Sorry for not responding earlier, this week is horribly busy for us and especially the hardware department. I'll get back to you today, sorry again.

[2017-01-10 12:17] Jailander commented on #76
No problem just wanted to know if it had been read

[2017-01-10 15:53] creuther commented on #76
Unfortunately it seems that we will have to send it back again :-( I'll get some detailed pictures tomorrow that will show you what exactly we need.

[2017-01-11 08:02] creuther commented on #76
Okay, please send us the entire following component ("electronics case") so we can make sure that everything works well this time and hopefully won't suffer transport damage:

![electronics_case](https://cloud.githubusercontent.com/assets/7942709/21840168/e5962d5e-d7d3-11e6-82af-541cf3fe4d60.jpg)

The red highlighted rectangle indicates which part is the electronics case, and the red highlighted c

[2017-01-11 10:49] creuther commented on #76
@Jailander: Have you sent it already?! We might have found another issue that could very likely be the cause and wouldn't require sending it back. I sincerely hope you haven't sent it yet :-(

I'll update with info on the fix soon.

[2017-01-11 10:52] Jailander commented on #76
Hi we just stopped the package on the way to the post office (pheww) let us know when you have the info :) thank you!

[2017-01-11 10:58] creuther commented on #76
Phew indeed! Sorry about that, we found out that a batch of cables we received is faulty - another robot was exhibiting the exact same problems so we feel confident enough that replacing the cable will fix Linda as well. We'll send you the cable asap, I'll update once it is on its way.

[2017-01-12 13:04] creuther commented on #76
The cable has been sent today, tracking link [here](https://nolp.dhl.de/nextt-online-public/set_identcodes.do?lang=en&idc=RL746076234DE&rfn=&extendedSearch=true). I'll get you a picture as well for which cable to replace, but it should be quite straightforward :)

[2017-01-17 16:43] Jailander commented on #76
Hi, @creuther the tracking link is not working and we have not received the cable, can you check please if the link is correct, or do you know to whom it was sent?

[2017-01-17 16:57] creuther commented on #76
Hi, when I posted it I assumed the link wasn't working due to it just having been posted but apparently not. I wrote an email but people have left the office for now... It was sent to this address (as before, from Marc):

University of Lincoln
School of Computer Science
Alison Cooke
MHT Building, 3rd floor
Brayford Pool
Lincoln, LN6 7TS
Phone: +44 1522 88 6966

[2017-01-17 17:04] Jailander commented on #76
Ok, we will check her mail inbox as she has been out of office, thank you

[2017-01-19 16:02] marc-hanheide commented on #76
did anyone check if we received the cables yet?

[2017-01-19 16:11] Jailander commented on #76
yes we called Callum he hasn't received anything for Alison

[2017-01-19 16:34] marc-hanheide commented on #76
👎

[2017-01-20 09:03] r-sc commented on #76
dear all, this is Ruediger from MetraLabs. Sorry, I provided Christian a not working tracking link. Here is a working one - the Deutsche Post has marked the letter as [delivered](https://www.deutschepost.de/sendung/simpleQueryResult.html?form.sendungsnummer=RL746076234DE&form.einlieferungsdatum_tag=15&form.einlieferungsdatum_monat=1&form.einlieferungsdatum_jahr=2017). For translation please click

[2017-01-20 09:48] santosj commented on #76
@r-sc @creuther We got the cable, it was "lost" in Alison's office. Sorry about this! We are going to replace the cable today and we will let you know if it works.

Many thanks!

[2017-01-20 10:24] r-sc commented on #76
I keep my fingers crossed :)

[2017-01-20 10:58] Jailander commented on #76
@r-sc @creuther Linda is finally up and running again! thank you very much

[2017-01-20 11:30] r-sc commented on #76
also many thanks - great news!

[2017-02-10 15:34] #76 closed

[2017-02-10 15:35] Jailander opened #77 "Werner sometimes loses control of one Wheel"
Hello, Werner sometimes loses control of one Wheel and reconnecting the wires going to the motors is necessary, they are not obviously disconnected but that seems to be the magic fix, @creuther can we do something about this (it was the left wheel both times)

[2017-02-10 15:53] creuther commented on #77
Hmm, so a "simple" power cycle with the key does not fix the issue? There should really be no difference in reconnecting the wires unless there really is a mechanical fault at work.

The motors we use have been known to go into an error state on a rare basis, which up to a certain MCU firmware and SCITOS driver version was only fixable by a power cycle (as mentioned above: turning the robot off wi

[2017-02-10 16:56] marc-hanheide commented on #77
I created https://github.com/strands-project/scitos_drivers/pull/116

But this should be tested on Linda first, if it has any side effects.

[2017-04-05 12:57] #77 closed